body {
  background-image: linear-gradient(
    to left bottom,
    #000000,
    #33181d,
    #62282c,
    #c07e45,
    #d77f37,
    #d07035,
    #c96234,
    #c15333,
    #933b33,
    #62282c,
    #33181d,
    #000000
  );
  font-family: "Poppins", sans-serif;
  color: black;
}

html {
  scroll-behavior: smooth;
}

.navbar-toggler {
  border-color: white; /* White border for toggle button */
}

.profile-pic {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid black;
}

.social-icons img {
  width: 40px;
  height: 40px;
  filter: brightness(0);
}

.skill-icon {
  width: 70px;
  height: 70px;
}

.skill-icon {
  transition: all 0.3s;
}

.skill-icon:hover {
  transform: scale(1.5);
}

.btn-hire {
  background-color: #fd6f00;
  color: #fff;
  border-radius: 10px;
  transition: background-color 0.3s;
  border: 2px solid #000;
}

.btn-hire:hover {
  background-color: #d9d9d980;
  color: #000;
  border: 2px solid #000;
}

.btn-contact {
  background-color: #fd6f00;
  color: #fff;
  border-radius: 10px;
  transition: background-color 0.3s;
  border: 2px solid #000;
}

.btn-contact:hover {
  background-color: #d9d9d980;
  color: #000;
  border: 2px solid #000;
}

#bg-all {
  background-color: #d9d9d950;
}

.name {
  color: #ae4c00;
}

#toggler-button {
  background-color: #fc6f03fc;
}

.icon {
  transition: all 0.3s;
}

.icon:hover {
  transform: scale(1.5);
}

.title {
  margin-bottom: 0;
}
.title-developer {
  margin-top: 0;
}

#nameTag {
  color: #ff8d15;
}

.progress-bar {
  background-color: #f77e22;
  color: #000;
  font-weight: bold;
}

.c-item {
  height: 100%;
}

.c-img {
  height: 100%;
  filter: brightness(1);
}

.project {
  transition: all 0.3s;
  box-shadow: -10px 15px rgba(0, 0, 0, 0.281);
  transition: transform 0.3s, box-shadow 0.3s;
}

.project:hover {
  transform: scale(1.05);
  box-shadow: 0 0px 100px rgba(0, 0, 0, 0.2);
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.3;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

#skill,
#about,
#project,
#certificate,
#certificate-img,
#contact {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

#home, body .container {
  animation: fade-down 0.5s;
}

.navbar-nav .nav-link {
  color: white;
}

.navbar-nav .nav-link:hover {
  color: #f77e22;
}
