body {
    background-color: #E36E00;
}

.brown-background {
    background-color: #3e1e00be;
}

.navi {
    background-color: #3e1e00be;
}

.containerr {
    background-color: #E36E00;
}

.nawng {
    width: 250px;
    height: 250px;
}

.para {
    text-align: justify;
    margin-right: 5%;
}